.form input {
  width: 332px;
  height: 30px;
  margin-bottom: 20px;
  outline-color: #cccccc;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 11px;
}

.form input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #cccccc;
}

.submitButton {
  width: 332px;
  height: 30px;
  background: #4997d0;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}
